h1{font-family: "Courier New", courier, monospace;
	color: #3498DB;}
body{background:#2C3E50}
a{text-decoration: none;
    color: #FD70BB;}
p{font-size: 20px;
    color: #AFAFAF;
    font-family: "Courier New", courier, monospace}